* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navBar {
  width: 100%;
  height: 40px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
}
.container {
  width: 90%;
  margin: auto;
  padding: auto;
}
.flex-bar {
  list-style-type: none;
  padding-top: 8px;
  display: flex;
  justify-content: flex-end;
}
.flex-bar a {
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
  color: #63a860;
}
.flex-bar a:hover {
  color: #607d8b;
}
.myWebSite {
  display: flex;
  height: 93.5vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #a7f2bc, #30e362);
  padding: 15px;
}

.myWebSite .formulaire {
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 25px 30px;
  border-radius: 20px;
}
.formulaire .titre {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 4px solid #607d8b;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.myWebSite .formulaire form {
  width: 90%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dataInput label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  color: #63a860;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.radioInput label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  color: #63a860;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
span {
  padding-left: 5px;
}
.myWebSite .formulaire form .dataInput {
  margin-bottom: 15px;
}
.myWebSite .formulaire form .dataInput input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #63a860;
  font-size: 16px;
  letter-spacing: 1px;
  color: #63a860;
  background: transparent;
  border-radius: 30px;
}
::placeholder {
  color: #607d8b;
  width: 100vw;
  letter-spacing: normal;
}
.myWebSite .formulaire form .radioInput {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

form .radioInput input {
  margin-right: 15px;
  margin-left: 15px;
}
#myBtn {
  background-color: #607d8b;
  color: * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navBar {
  width: 100%;
  height: 40px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
}
.container {
  width: 90%;
  margin: auto;
  padding: auto;
}
.flex-bar {
  list-style-type: none;
  padding-top: 8px;
  display: flex;
  justify-content: flex-end;
}
.flex-bar a {
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
  color: #63a860;
}
.flex-bar a:hover {
  color: #607d8b;
}
.myWebSite {
  display: flex;
  height: 93.5vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #a7f2bc, #30e362);
  padding: 15px;
}

.myWebSite .formulaire {
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 25px 30px;
  border-radius: 20px;
}
.formulaire .titre {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 4px solid #607d8b;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.myWebSite .formulaire form {
  width: 90%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dataInput label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  color: #63a860;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.radioInput label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  color: #63a860;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
span {
  padding-left: 5px;
}
.myWebSite .formulaire form .dataInput {
  margin-bottom: 15px;
}
.myWebSite .formulaire form .dataInput input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #63a860;
  font-size: 16px;
  letter-spacing: 1px;
  color: #63a860;
  background: transparent;
  border-radius: 30px;
}
::placeholder {
  color: #607d8b;
  width: 100vw;
  letter-spacing: normal;
}
.myWebSite .formulaire form .radioInput {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

form .radioInput input {
  margin-right: 15px;
  margin-left: 15px;
}
#myBtn {
  background-color: #607d8b;
  color: * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navBar {
  width: 100%;
  height: 40px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
}
.container {
  width: 90%;
  margin: auto;
  padding: auto;
}
.flex-bar {
  list-style-type: none;
  padding-top: 8px;
  display: flex;
  justify-content: flex-end;
}
.flex-bar a {
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
  color: #63a860;
}
.flex-bar a:hover {
  color: #607d8b;
}
.myWebSite {
  display: flex;
  height: 93.5vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #a7f2bc, #30e362);
  padding: 15px;
}

.myWebSite .formulaire {
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 25px 30px;
  border-radius: 20px;
}
.formulaire .titre {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 4px solid #607d8b;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.myWebSite .formulaire form {
  width: 90%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dataInput label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  color: #63a860;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.radioInput label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  color: #63a860;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
span {
  padding-left: 5px;
}
.myWebSite .formulaire form .dataInput {
  margin-bottom: 15px;
}
.myWebSite .formulaire form .dataInput input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #63a860;
  font-size: 16px;
  letter-spacing: 1px;
  color: #63a860;
  background: transparent;
  border-radius: 30px;
}
::placeholder {
  color: #607d8b;
  width: 100vw;
  letter-spacing: normal;
}
.myWebSite .formulaire form .radioInput {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

form .radioInput input {
  margin-right: 15px;
  margin-left: 15px;
}
#myBtn {
  background-color: #607d8b;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
#myBtn:hover {
  background-color: #49595e;
}
#myBtn:active {
  transform: scale(0.98);
}

@media (max-width: 584px) {
  .myWebSite .formulaire {
    max-width: 100%;
  }
  .myWebSite .formulaire form .dataInput {
    margin-bottom: 15px;
    width: 100%;
  }
  .myWebSite .formulaire form .radioInput {
    width: 100%;
  }
};
  border: none;
  cursor: pointer;
  font-weight: 500;
}
#myBtn:hover {
  background-color: #49595e;
}
#myBtn:active {
  transform: scale(0.98);
}

@media (max-width: 584px) {
  .myWebSite .formulaire {
    max-width: 100%;
  }
  .myWebSite .formulaire form .dataInput {
    margin-bottom: 15px;
    width: 100%;
  }
  .myWebSite .formulaire form .radioInput {
    width: 100%;
  }
};
  border: none;
  cursor: pointer;
  font-weight: 500;
}
#myBtn:hover {
  background-color: #49595e;
}
#myBtn:active {
  transform: scale(0.98);
}

@media (max-width: 584px) {
  .myWebSite .formulaire {
    max-width: 100%;
  }
  .myWebSite .formulaire form .dataInput {
    margin-bottom: 15px;
    width: 100%;
  }
  .myWebSite .formulaire form .radioInput {
    width: 100%;
  }
}
